@import 'declarations';
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.nav-bar{
    height: calc(100vh - 70px);
    width: 100px; 
    margin: -10px 0 0 -110px;
    position: fixed;
    background-color: rgb(26, 26, 26);
    color: white;

    ul{
        @include display-sett(column, center, center);
        padding-top: 20px;
        li{
            @include display-sett(column, center, space-between);
            height: 45px;
            font-size: 14px;
            margin-bottom: 15px;
            opacity: 0.7;
            transition: 250ms;
            cursor: pointer;

            &:hover{
                opacity: 1;
            }
        }
    }
}