html{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
:root{
    --colorTexInput: rgb(71, 71, 71);
    --status: 'edit';
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(231, 231, 231);
}
.list-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 600px;
    padding: 10px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    
}
.list-cont h2{
    text-align: center;
    margin-bottom: 0;
}
hr{
    width: 85%;
}
/*Add New Item Panel*************************/
.add-new-cont{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 3px solid rgb(4, 137, 103);
    padding: 10px;
    box-sizing: border-box;
}
.add-new-visible{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 10px 0 ;
    padding: 5px;
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 300ms;
}
.add-new-visible:active{
    background-color: rgb(193, 193, 193);
}
.add-new-datas{
    display: flex;
    margin-top: 10px;
    width: 96%
}
.open-datas{
    display: flex;
}
.add-new-datas input{
    outline: none;
    border:none;
    border-bottom: 1px solid gray;
    width: 96%;
    text-indent: 5px;
    color: var(--colorTexInput);
    
}
.add-new-cont span{
    margin-left: 5px;
}
.add-button{
    cursor: pointer;
    color: green;
}
.add-button:active{
    color: rgb(0, 63, 0);
    font-variation-settings: 'FILL' 1;
}

/*List**********************************/
.list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 85%;
    padding: 0;
}
/*List Item*/
.list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
    border-radius: 5px;
}
.list-item:nth-child(even){
    background-color: rgb(230, 230, 230);
}
/*Divs*/
.list-item  div{
    display: flex;
    height: 35px;
    align-items: center;
}
.list-item div:not(:last-child){
    width: 85%;
}
/*Buttons and Inputs*/
.item-text{
    display: none;
    font-size: 14px;
}
.item-edit-button{
    position: relative;
    cursor: pointer;
    
}
.item-delet-button{
    position: relative;
    font-size: 25px;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 5px;   
}
.item-edit-input{
    display: none;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    width: 100%;
    color: var(--colorTexInput);
    background:none;
    text-indent: 5px;
    font-size: 15px;
}
.item-edit-button:active{
    color: green;
}
.item-delet-button:active{
    color: rgb(184, 1, 1);
    font-variation-settings: 'FILL' 1;
}
.item-edit-button::selection, .item-delet-button::selection, .add-button::selection{
    background-color: white !important;
}


/*Check Box Sett*/
.label-checkbox{
    position: relative;
    cursor: pointer;
    height: 18px;
    min-width: 18px;
    border-radius: 2px;
    margin-right: 7px;
    background-color: rgb(131, 131, 131);
}
.label-checkbox::selection{
    background-color: white !important;
}
.label-checkbox::before{
    display: none;
    content: '✔';
    height: 15px;
    width: 15px;
    position: absolute;
    top: -2.5px;
    left: 3px;
    color: white;
}
.check-done{
    display: none;
}
.check-done:checked + .label-checkbox{
    background-color: rgb(0, 105, 70);
}
.check-done:checked + .label-checkbox::before{
    display: block;
    
}
.cheked{
    content: ''
}
.open{
    display: block !important;
}

@media screen and (max-width: 500px){
    .list-item{
        height: 70px;
    }
}
@media screen and (min-width: 800px){
    .add-new-visible:hover{
        background-color: rgb(193, 193, 193);
    }
    /*Hover delete Button*/
    .item-delet-button::before{
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        z-index: 1;
        content: 'delete';
        top: -18px;
        left: -11px;
        height: 20px;
        width: 45px;
        background-color: rgb(20, 20, 20);
        color: white;
        border-radius: 5px;
        transition: 500ms;
    }
    .item-delet-button:hover::before{
        display: flex;
    }

    /*Hover edit Button*/
    .item-edit-button::before{
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        z-index: 1;
        content: var(--status);
        top: -18px;
        left: -11px;
        height: 20px;
        width: 45px;
        background-color: rgb(20, 20, 20);
        color: white;
        border-radius: 5px;
        transition: 500ms;
    }
    .item-edit-button:hover::before{
        display: flex;
    }
}
