* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1b1b1b;
  height: 80px;
  color: white;
}

header h1 {
  color: #f08204;
}

.container {
  padding: 10px;
}

.container .emphasis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: black;
  margin: auto;
  position: relative;
  background: white;
  max-width: 1100px;
}

.container .emphasis .title {
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  margin: 0 0 10px 0;
  border-radius: 5px 5px 0 0;
  background-color: #b4b4b4;
}

.container .emphasis a {
  padding: 10px;
}

.container .emphasis .emp-img {
  border-radius: 10px;
  width: 100%;
  max-width: 700px;
}

.container .emphasis .description {
  line-height: 22px;
  margin-top: 10px;
  padding: 5px;
  max-width: 700px;
}

.container .emphasis .description .little-desc {
  text-indent: 20px;
  margin-bottom: 10px;
}

.container .emphasis .description .author, .container .emphasis .description .font {
  text-align: end;
  font-size: 13px;
  color: #686868;
}

.cont-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  background-color: white;
  margin: auto;
  padding-top: 15px;
  margin-top: 20px;
  max-width: 1100px;
}

.cont-more .more {
  position: relative;
  padding: 5px;
  padding-bottom: 20px;
  width: 300px;
  background-color: #e7e7e7;
  color: #353535;
  border-radius: 5px;
  text-decoration: none;
}

.cont-more .more .title {
  position: absolute;
  left: 50%;
  top: 10px;
  width: 95%;
  padding: 5px;
  font-size: 16px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.377);
}

.cont-more .more img {
  width: 290px;
  height: 200px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cont-more .more .description {
  padding: 10px;
  text-indent: 20px;
}

.cont-more .more .font {
  position: absolute;
  right: 10px;
  bottom: 5px;
  margin-top: 10px;
  text-align: end;
  font-size: 11px;
  color: #686868;
}

.lorem {
  margin: 15px 0;
  text-indent: 30px;
}
/*# sourceMappingURL=main.css.map */