*{
    @import 'declaracoes';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: $cor-padrao;
    color: white;
    border-bottom: 1px solid lighten($cor-padrao, 9);
}
.container{
    position: relative;
    display: flex;
    flex-direction: row;
    .dash-board{
        display: flex;
        justify-content: center;
        align-items: top;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
