@import 'declaracoes' ;

.graficos{
    position: relative;
    width: 691px;
    box-shadow: $shadow;
    border-radius: 7px;
    margin-left: 10px;
    padding: 10px;
    color:  rgb(222, 0, 0);
    
    .desp-rec{
        display: flex;
        width: 340px;
        height: 200px;
        margin-bottom: 20px;

        .grafico-receitas{
            margin-left: 10px;
            border-left: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
        }
    }
    .res{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 500px;
        height: 350px;
        border-left: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }
 
}

