@import 'declaracoes' ;

.graficos{
    position: relative;
    width: 540px;
    box-shadow: $shadow;
    border-radius: 7px;
    margin-left: 10px;
    padding: 10px;
    color:  rgb(222, 0, 0);
    
    .desp-rec{
        display: flex;
        width: 260px;
        height: 200px;

        .grafico-receitas{
            margin-left: 10px;
        }
    }
    .res{
        margin: auto;
        width: 400px;
    }
 
}

