@import 'declaracoes' ;

.tabelas{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1px;
    min-width: 764.65px;
    height: calc(100vh - 51px);
    div:nth-child(2){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}
.despesas-tabela, .receitas-tabela, .fixos-tabela{
    border-collapse: collapse;
    font-size: 13px;
    width: 100%;
    th, td{
        padding: 3px 5px; 
        overflow-x: hidden;  
    }
    tr:nth-child(odd){
        background-color: rgba(255, 0, 0, 0.319);
        td:first-child{
            border-radius: 15px 0 0 15px !important;
        }
        td:last-child{
            border-radius: 0 15px  15px 0 !important;
        }
    }
    tr td:not(:first-child){
        text-align: center;
    }
    tr td:last-child{
        text-align: end;
    }
    tr:nth-child(even){
        td{
            border-left: 1px  solid rgba(0, 0, 0, 0.211);
        }
    }
}

.cabecalho-tabela{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color: $cor-despesas;
    color: white;
}
.soma-total{//barra inferior
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-radius: 3px;
    font-weight: 600;
    padding: 10px;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: $cor-despesas;
}


.despesas{
    position: relative;
    height: 100%;
    border-radius: 5px;
    margin: 0 4px 0 2px;
    min-width: 461.44px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: $shadow;
    tr td:first-child{
        max-width: 202px;
    }
    .despesas-tabela{
        width: 100%;
        tr:first-child{
            background-color: darken($cor-despesas, 7);
            color: white;
        }
        tr td:first-child{
            width: 202px;
        }
        tr td:nth-child(2){
            width: 100px;
        }
    }
}

.receitas{
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    width: 300px;
    height: 59.9%;
    margin-bottom: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: $shadow;
    .cabecalho-tabela{
        background-color: $cor-receitas;
    }
    .soma-total{
        background-color: $cor-receitas;
    }
    .receitas-tabela{
        tr td:first-child{
            max-width: 94px;
        }
        tr:nth-child(odd){
            background-color: rgba(0, 128, 0, 0.221);
            td:first-child{
                border-radius: 15px 0 0 15px !important;
            }
            td:last-child{
                border-radius: 0 15px  15px 0 !important;
            }
        }
        tr:first-child{
            background-color: darken($cor-receitas, 7);
            color: white;
        }
        tr:nth-child(even){
            td:first-child{
                border-left: none;
            }
        }
    }
}
.gastos-fixos{
    position: relative;
    border-radius: 5px;
    overflow: hidden ;
    height: 39.5%;
    background-color: rgb(255, 255, 255);
    box-shadow: $shadow;
    display: block !important;
    .cabecalho-tabela{
        background-color: $cor-fixos;
    }
    .soma-total{
        background-color: $cor-fixos;
    }
    .fixos-tabela{
        width: 100%;
        tr td:first-child{
            max-width: 94px;
        }
        tr:nth-child(odd){
            background-color: rgba(255, 115, 0, 0.221) ;
        }
        tr:first-child{
            background-color: darken($cor-fixos, 7);
            color: white;
        }
        tr:nth-child(even){
            td:first-child{
                border-left: none; 
            }
        }
    }
}


