$cor-despesas:  rgba(173, 0, 0, 0.934);
$cor-receitas:green;
$cor-fixos:rgb(255, 200, 0);

.tabelas{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.despesas-tabela, .receitas-tabela, .fixos-tabela{
    border-collapse: collapse;
    font-size: 13px;
    width: 100%;
    th, td{
        padding: 3px 5px;   
    }
    tr:nth-child(odd){
        background-color: rgba(255, 0, 0, 0.319);
        td:first-child{
            border-radius: 15px 0 0 15px !important;
        }
        td:last-child{
            border-radius: 0 15px  15px 0 !important;
        }
    }
    tr td:not(:first-child){
        text-align: center;
    }
    tr td:last-child{
        text-align: end;
    }
    tr:nth-child(even){
        td{
            border-left: 1px  solid rgba(0, 0, 0, 0.211);
        }
    }
}

.cabecalho-tabela{
    height: 30PX;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color: $cor-despesas;
    color: white;
}


.despesas{
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin-right: 3px;
    .despesas-tabela{
        width: 100%;
        tr:first-child{
            background-color: darken($cor-despesas, 7);
            color: white;
        }
        tr td:first-child{
            width: 202px;
        }
        tr td:nth-child(2){
            width: 100px;
        }
    }
}

.receitas{
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 400px;
    margin-bottom: 3px;
    .cabecalho-tabela{
        background-color: $cor-receitas;
    }
    .receitas-tabela{
        tr:nth-child(odd){
            background-color: rgba(0, 128, 0, 0.221);
            td:first-child{
                border-radius: 15px 0 0 15px !important;
            }
            td:last-child{
                border-radius: 0 15px  15px 0 !important;
            }
        }
        tr:first-child{
            background-color: darken($cor-receitas, 7);
            color: white;
        }
        tr:nth-child(even){
            td:first-child{
                border-left: none;
            }
        }
    }
}
.gastos-fixos{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    height: 242px;
    .cabecalho-tabela{
        background-color: $cor-fixos;
    }
    .fixos-tabela{
        width: 100%;
    }
    tr:nth-child(odd){
        background-color: rgba(255, 200, 0, 0.221) ;
    }
    tr:first-child{
        background-color: darken($cor-fixos, 7);
        color: white;
    }
    tr:nth-child(even){
        td:first-child{
            border-left: none; 
        }
    }
}


