* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: rgb(23, 29, 41);
  color: white;
  border-bottom: 1px solid #273246;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
}
.container .dash-board {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: row;
  flex-wrap: wrap;
}

.tabelas {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1px;
  min-width: 764.65px;
  height: calc(100% - 1px);
}
.tabelas div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.despesas-tabela, .receitas-tabela, .fixos-tabela {
  border-collapse: collapse;
  font-size: 13px;
  width: 100%;
}
.despesas-tabela th, .despesas-tabela td, .receitas-tabela th, .receitas-tabela td, .fixos-tabela th, .fixos-tabela td {
  padding: 3px 5px;
  overflow-x: hidden;
}
.despesas-tabela tr:nth-child(odd), .receitas-tabela tr:nth-child(odd), .fixos-tabela tr:nth-child(odd) {
  background-color: rgba(255, 0, 0, 0.319);
}
.despesas-tabela tr:nth-child(odd) td:first-child, .receitas-tabela tr:nth-child(odd) td:first-child, .fixos-tabela tr:nth-child(odd) td:first-child {
  border-radius: 15px 0 0 15px !important;
}
.despesas-tabela tr:nth-child(odd) td:last-child, .receitas-tabela tr:nth-child(odd) td:last-child, .fixos-tabela tr:nth-child(odd) td:last-child {
  border-radius: 0 15px 15px 0 !important;
}
.despesas-tabela tr td:not(:first-child), .receitas-tabela tr td:not(:first-child), .fixos-tabela tr td:not(:first-child) {
  text-align: center;
}
.despesas-tabela tr td:last-child, .receitas-tabela tr td:last-child, .fixos-tabela tr td:last-child {
  text-align: end;
}
.despesas-tabela tr:nth-child(even) td, .receitas-tabela tr:nth-child(even) td, .fixos-tabela tr:nth-child(even) td {
  border-left: 1px solid rgba(0, 0, 0, 0.211);
}

.cabecalho-tabela {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-color: rgba(118, 25, 25, 0.934);
  color: white;
}

.soma-total {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-radius: 3px;
  font-weight: 600;
  padding: 10px;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: rgba(118, 25, 25, 0.934);
}

.despesas {
  position: relative;
  height: 100%;
  border-radius: 5px;
  margin: 0 4px 0 2px;
  min-width: 461.44px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.412);
}
.despesas tr td:first-child {
  max-width: 202px;
}
.despesas .despesas-tabela {
  width: 100%;
}
.despesas .despesas-tabela tr:first-child {
  background-color: rgba(89, 19, 19, 0.934);
  color: white;
}
.despesas .despesas-tabela tr td:first-child {
  width: 202px;
}
.despesas .despesas-tabela tr td:nth-child(2) {
  width: 100px;
}

.receitas {
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  width: 300px;
  height: 59.9%;
  margin-bottom: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.412);
}
.receitas .cabecalho-tabela {
  background-color: rgba(30, 91, 30, 0.919);
}
.receitas .soma-total {
  background-color: rgba(30, 91, 30, 0.919);
}
.receitas .receitas-tabela tr td:first-child {
  max-width: 94px;
}
.receitas .receitas-tabela tr:nth-child(odd) {
  background-color: rgba(0, 128, 0, 0.221);
}
.receitas .receitas-tabela tr:nth-child(odd) td:first-child {
  border-radius: 15px 0 0 15px !important;
}
.receitas .receitas-tabela tr:nth-child(odd) td:last-child {
  border-radius: 0 15px 15px 0 !important;
}
.receitas .receitas-tabela tr:first-child {
  background-color: rgba(21, 64, 21, 0.919);
  color: white;
}
.receitas .receitas-tabela tr:nth-child(even) td:first-child {
  border-left: none;
}

.gastos-fixos {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: 39.5%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.412);
  display: block !important;
}
.gastos-fixos .cabecalho-tabela {
  background-color: rgba(190, 101, 28, 0.934);
}
.gastos-fixos .soma-total {
  background-color: rgba(190, 101, 28, 0.934);
}
.gastos-fixos .fixos-tabela {
  width: 100%;
}
.gastos-fixos .fixos-tabela tr td:first-child {
  max-width: 94px;
}
.gastos-fixos .fixos-tabela tr:nth-child(odd) {
  background-color: rgba(255, 115, 0, 0.221);
}
.gastos-fixos .fixos-tabela tr:first-child {
  background-color: rgba(159, 84, 23, 0.934);
  color: white;
}
.gastos-fixos .fixos-tabela tr:nth-child(even) td:first-child {
  border-left: none;
}

.lancar-container {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 50px);
  background-color: rgba(0, 0, 0, 0.215);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.lancar-dado {
  position: relative;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.268);
}
.lancar-dado .lancar-dado-titulo {
  position: absolute;
  top: 7px;
  left: 10px;
  font-size: 14px;
}
.lancar-dado #fechar-form {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  padding: 5px;
  border-style: none;
  background-color: rgb(156, 6, 6);
  color: white;
  border-radius: 0 5px 0 5px;
  cursor: pointer;
  transition: 0.3s;
}
.lancar-dado #fechar-form:hover {
  background-color: rgb(117, 2, 2);
}
.lancar-dado .radios {
  margin-bottom: 3px;
  border-style: none;
  margin-bottom: 10px;
}
.lancar-dado .radios input,
.lancar-dado .radios label {
  cursor: pointer;
}
.lancar-dado .radios label {
  margin-left: -3px;
}
.lancar-dado .lancar-txt {
  margin-bottom: 5px;
  height: 30px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 3px;
  padding: 0 10px;
}
.lancar-dado select,
.lancar-dado #lancar-data {
  width: 184px;
}
.lancar-dado #lancar-descricao {
  width: 98%;
}
.lancar-dado #lancar-data {
  width: 184px;
}
.lancar-dado #lancar-valor {
  margin-left: 189px;
  text-align: end;
}

.dados-box {
  position: relative;
}
.dados-box #lancar {
  width: 372px;
  height: 35px;
  margin: auto;
  background-color: rgb(2, 101, 194);
  color: white;
  font-size: 16px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
}
.dados-box #lancar:hover {
  background-color: rgb(2, 73, 139);
}

.red {
  border: 1px solid red !important;
}

.confirma-dado-lancado {
  color: white;
  height: 0px;
}

.loader {
  position: absolute;
  right: 12px;
  bottom: 10px;
  height: 35px;
  width: 35px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgb(2, 101, 194);
  --_m:
      conic-gradient(#0000 10%, #000),
      linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 0.4s linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
.loader-ok {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  right: 12px;
  bottom: 10px;
  height: 35px;
  width: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgb(2, 101, 194);
  color: white;
  overflow: hidden !important;
}

.tamp {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: rgb(2, 101, 194);
  animation: l4 0.3s forwards;
}

@keyframes l4 {
  to {
    margin-left: 80px;
  }
}
#deleteBox {
  position: absolute;
  overflow: hidden;
  padding: 5px;
  border-radius: 7px;
  height: 100px;
  width: 200px;
  top: 200px;
  left: 200px;
  z-index: 9;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.268);
  background-color: white;
}
#deleteBox div:first-child {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s;
}
#deleteBox #deletar-btn {
  width: 190px;
  height: 30px;
  border-style: none;
  cursor: pointer;
  transition: 0.4s;
}
#deleteBox #deletar-btn:hover {
  background-color: rgb(183, 183, 183);
}
#deleteBox .delete-box-confirm {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#deleteBox .delete-box-confirm span {
  font-size: 13px;
  margin-bottom: 10px;
}
#deleteBox .delete-box-confirm button {
  width: 90px;
  height: 30px;
  cursor: pointer;
}

.navigation {
  width: 200px;
  height: calc(100vh - 50px);
  background-color: rgb(23, 29, 41);
  padding: 10px;
}

.nav-bar {
  color: white;
  font-size: 14px;
}
.nav-bar h2 {
  font-size: 18px;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}
.nav-bar p {
  text-align: center;
  padding: 5px 0;
  margin-bottom: -7px;
}
.nav-bar ul {
  list-style-type: none;
}
.nav-bar ul ol {
  list-style: none;
}
.nav-bar li {
  color: rgb(165, 165, 165);
  margin-bottom: 3px;
  transition: 0.3s;
  cursor: pointer;
}
.nav-bar li:hover {
  color: white !important;
}
.nav-bar .nav-link-ano {
  padding-top: 5px;
  overflow: hidden;
  transition: 0.3s;
  margin-bottom: 5px;
  height: 20px;
}
.nav-bar .nav-link-ano .link-ano {
  display: flex;
  align-items: center;
}
.nav-bar .nav-link-ano .link-ano label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-bar .nav-link-ano .link-ano label span:nth-child(2) {
  background-color: gray;
  width: 150px;
  height: 1px;
  margin-left: 5px;
}
.nav-bar .nav-link-ano .link-ano label span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  border: 2px solid gray;
  margin-right: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.nav-bar .nav-link-ano .link-ano label span:first-child:hover {
  border-color: white;
}
.nav-bar .nav-link-ano .link-ano input {
  display: none;
}
.nav-bar .nav-link-ano .link-ano input:checked ~ label span:first-child {
  border-color: white;
  color: white;
}
.nav-bar .nav-link-mes {
  border-left: 1px solid rgb(71, 71, 71);
  margin-left: 6px;
  padding-left: 20px;
}
.nav-bar .nav-link-mes li {
  border-bottom: none;
}
.nav-bar #abrir-lancar {
  width: 100%;
  height: 35px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  color: white;
  border: 1px solid #364461;
  background-color: #2d3950;
}
.nav-bar #abrir-lancar:hover {
  background-color: #364461;
}

.graficos {
  position: relative;
  width: 540px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.412);
  border-radius: 7px;
  margin-left: 10px;
  padding: 10px;
  color: rgb(222, 0, 0);
}
.graficos div {
  display: flex;
  width: 300px;
  height: 200px;
}
.graficos div .grafico-receitas {
  margin-left: 10px;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
