* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(255, 244, 230);
}

header {
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: rgb(28, 28, 28);
  color: white;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.tabelas {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.despesas-tabela, .receitas-tabela, .fixos-tabela {
  border-collapse: collapse;
  font-size: 13px;
  width: 100%;
}
.despesas-tabela th, .despesas-tabela td, .receitas-tabela th, .receitas-tabela td, .fixos-tabela th, .fixos-tabela td {
  padding: 3px 5px;
}
.despesas-tabela tr:nth-child(odd), .receitas-tabela tr:nth-child(odd), .fixos-tabela tr:nth-child(odd) {
  background-color: rgba(255, 0, 0, 0.319);
}
.despesas-tabela tr:nth-child(odd) td:first-child, .receitas-tabela tr:nth-child(odd) td:first-child, .fixos-tabela tr:nth-child(odd) td:first-child {
  border-radius: 15px 0 0 15px !important;
}
.despesas-tabela tr:nth-child(odd) td:last-child, .receitas-tabela tr:nth-child(odd) td:last-child, .fixos-tabela tr:nth-child(odd) td:last-child {
  border-radius: 0 15px 15px 0 !important;
}
.despesas-tabela tr td:not(:first-child), .receitas-tabela tr td:not(:first-child), .fixos-tabela tr td:not(:first-child) {
  text-align: center;
}
.despesas-tabela tr td:last-child, .receitas-tabela tr td:last-child, .fixos-tabela tr td:last-child {
  text-align: end;
}
.despesas-tabela tr:nth-child(even) td, .receitas-tabela tr:nth-child(even) td, .fixos-tabela tr:nth-child(even) td {
  border-left: 1px solid rgba(0, 0, 0, 0.211);
}

.cabecalho-tabela {
  height: 30PX;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-color: rgba(173, 0, 0, 0.934);
  color: white;
}

.soma-total {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-radius: 3px;
  font-weight: 600;
  padding: 10px;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: rgba(173, 0, 0, 0.934);
}

.despesas {
  position: relative;
  border: 1px solid rgb(207, 207, 207);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 100%;
  margin-right: 3px;
}
.despesas .despesas-tabela {
  width: 100%;
}
.despesas .despesas-tabela tr:first-child {
  background-color: rgba(137, 0, 0, 0.934);
  color: white;
}
.despesas .despesas-tabela tr td:first-child {
  width: 202px;
}
.despesas .despesas-tabela tr td:nth-child(2) {
  width: 100px;
}

.receitas {
  position: relative;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 400px;
  margin-bottom: 3px;
}
.receitas .cabecalho-tabela {
  background-color: green;
}
.receitas .soma-total {
  background-color: green;
}
.receitas .receitas-tabela tr:nth-child(odd) {
  background-color: rgba(0, 128, 0, 0.221);
}
.receitas .receitas-tabela tr:nth-child(odd) td:first-child {
  border-radius: 15px 0 0 15px !important;
}
.receitas .receitas-tabela tr:nth-child(odd) td:last-child {
  border-radius: 0 15px 15px 0 !important;
}
.receitas .receitas-tabela tr:first-child {
  background-color: #005c00;
  color: white;
}
.receitas .receitas-tabela tr:nth-child(even) td:first-child {
  border-left: none;
}

.gastos-fixos {
  position: relative;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  height: 242px;
}
.gastos-fixos .cabecalho-tabela {
  background-color: rgb(255, 115, 0);
}
.gastos-fixos .soma-total {
  background-color: rgb(255, 115, 0);
}
.gastos-fixos .fixos-tabela {
  width: 100%;
}
.gastos-fixos tr:nth-child(odd) {
  background-color: rgba(255, 115, 0, 0.221);
}
.gastos-fixos tr:first-child {
  background-color: #db6300;
  color: white;
}
.gastos-fixos tr:nth-child(even) td:first-child {
  border-left: none;
}

.lancar-container {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 50px);
  background-color: rgba(0, 0, 0, 0.215);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.lancar-dado {
  width: 400px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.268);
}
.lancar-dado #fechar-form {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  padding: 5px;
  border-style: none;
  background-color: rgb(156, 6, 6);
  color: white;
  border-radius: 0 5px 0 5px;
  cursor: pointer;
  transition: 0.3s;
}
.lancar-dado #fechar-form:hover {
  background-color: rgb(117, 2, 2);
}
.lancar-dado .radios {
  margin-bottom: 3px;
  border-style: none;
  margin-bottom: 10px;
}
.lancar-dado .radios input, .lancar-dado .radios label {
  cursor: pointer;
}
.lancar-dado .radios label {
  margin-left: -3px;
}
.lancar-dado .lancar-txt {
  margin-bottom: 5px;
  height: 30px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 3px;
  padding: 0 10px;
}
.lancar-dado select {
  width: 184px;
}
.lancar-dado #lancar-descricao {
  width: 98%;
}
.lancar-dado #lancar-valor {
  margin-left: 188px;
}

.dados-box {
  position: relative;
}
.dados-box .titulos-txt {
  position: absolute;
  font-size: 14px;
  color: gray;
}
.dados-box #titulos-txt-1 {
  top: 5px;
  left: 10px;
}
.dados-box #titulos-txt-2 {
  top: 42px;
  left: 10px;
}
.dados-box #titulos-txt-3 {
  top: 43px;
  left: 198px;
}
.dados-box #titulos-txt-4 {
  top: 77px;
  left: 198px;
}
.dados-box #lancar {
  width: 372px;
  height: 35px;
  margin: auto;
  background-color: rgb(2, 101, 194);
  color: white;
  font-size: 16px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
}
.dados-box #lancar:hover {
  background-color: rgb(2, 73, 139);
}

#deleteBox {
  position: absolute;
  overflow: hidden;
  padding: 5px;
  border-radius: 7px;
  height: 100px;
  width: 200px;
  top: 200px;
  left: 200px;
  z-index: 9;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.268);
  background-color: white;
}
#deleteBox div:first-child {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s;
}
#deleteBox #deletar-btn {
  width: 190px;
  height: 30px;
  border-style: none;
  cursor: pointer;
  transition: 0.4s;
}
#deleteBox #deletar-btn:hover {
  background-color: rgb(183, 183, 183);
}
#deleteBox .delete-box-confirm {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#deleteBox .delete-box-confirm span {
  font-size: 13px;
  margin-bottom: 10px;
}
#deleteBox .delete-box-confirm button {
  width: 90px;
  height: 30px;
  cursor: pointer;
}

.navigation {
  width: 200px;
  height: calc(100vh - 50px);
  background-color: rgb(35, 35, 35);
  padding: 10px;
}

.nav-bar {
  color: white;
  font-size: 14px;
}
.nav-bar h2 {
  font-size: 18px;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}
.nav-bar ul {
  list-style-type: none;
}
.nav-bar ul ol {
  list-style: none;
}
.nav-bar li {
  color: rgb(165, 165, 165);
  margin-bottom: 3px;
  transition: 0.3s;
  cursor: pointer;
}
.nav-bar li:hover {
  color: white;
}
.nav-bar .nav-link-ano {
  padding-top: 5px;
  overflow: hidden;
  transition: 0.3s;
  margin-bottom: 5px;
  height: 20px;
}
.nav-bar .nav-link-ano .link-ano {
  display: flex;
  align-items: center;
}
.nav-bar .nav-link-ano .link-ano label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-bar .nav-link-ano .link-ano label span:nth-child(2) {
  background-color: gray;
  width: 150px;
  height: 1px;
  margin-left: 5px;
}
.nav-bar .nav-link-ano .link-ano label span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  border: 2px solid gray;
  margin-right: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.nav-bar .nav-link-ano .link-ano label span:first-child:hover {
  border-color: white;
}
.nav-bar .nav-link-ano .link-ano input {
  display: none;
}
.nav-bar .nav-link-ano .link-ano input:checked ~ label span:first-child {
  border-color: white;
  color: white;
}
.nav-bar .nav-link-mes {
  border-left: 1px solid rgb(71, 71, 71);
  margin-left: 6px;
  padding-left: 20px;
}
.nav-bar .nav-link-mes li {
  border-bottom: none;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
