* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: antiquewhite;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.navigation {
  width: 200px;
  height: 100vh;
  background-color: rgb(35, 35, 35);
}

.despesas {
  grid-area: despesasTable;
  background-color: rgb(255, 255, 255);
  height: 100%;
}

.despesas-tabela, .receitas-tabela, .fixos-tabela {
  border-collapse: collapse;
  font-size: 13px;
  width: 100%;
}
.despesas-tabela th, .despesas-tabela td, .receitas-tabela th, .receitas-tabela td, .fixos-tabela th, .fixos-tabela td {
  padding: 3px 5px;
}
.despesas-tabela tr:nth-child(odd), .receitas-tabela tr:nth-child(odd), .fixos-tabela tr:nth-child(odd) {
  background-color: rgba(255, 0, 0, 0.319);
}
.despesas-tabela tr:nth-child(odd) td:first-child, .receitas-tabela tr:nth-child(odd) td:first-child, .fixos-tabela tr:nth-child(odd) td:first-child {
  border-radius: 15px 0 0 15px !important;
}
.despesas-tabela tr:nth-child(odd) td:last-child, .receitas-tabela tr:nth-child(odd) td:last-child, .fixos-tabela tr:nth-child(odd) td:last-child {
  border-radius: 0 15px 15px 0 !important;
}
.despesas-tabela tr:first-child, .receitas-tabela tr:first-child, .fixos-tabela tr:first-child {
  background-color: rgba(173, 0, 0, 0.934);
  color: white;
}
.despesas-tabela tr td:not(:first-child), .receitas-tabela tr td:not(:first-child), .fixos-tabela tr td:not(:first-child) {
  text-align: center;
}
.despesas-tabela tr td:last-child, .receitas-tabela tr td:last-child, .fixos-tabela tr td:last-child {
  text-align: end;
}
.despesas-tabela tr:nth-child(even) td, .receitas-tabela tr:nth-child(even) td, .fixos-tabela tr:nth-child(even) td {
  border-left: 1px solid rgba(0, 0, 0, 0.211);
}

.despesas-tabela {
  width: 400px;
}
.despesas-tabela tr td:first-child {
  width: 150px;
}

.receitas {
  grid-area: receitasTable;
}
.receitas .receitas-tabela tr:nth-child(odd) {
  background-color: rgba(0, 128, 0, 0.221);
}
.receitas .receitas-tabela tr:nth-child(odd) td:first-child {
  border-radius: 15px 0 0 15px !important;
}
.receitas .receitas-tabela tr:nth-child(odd) td:last-child {
  border-radius: 0 15px 15px 0 !important;
}
.receitas .receitas-tabela tr:first-child {
  background-color: green;
  color: white;
}
.receitas .receitas-tabela tr:nth-child(even) td:first-child {
  border-left: none;
}

.gastos-fixos {
  grid-area: fixosTable;
}
.gastos-fixos .fixos-tabela {
  width: 100%;
}
.gastos-fixos tr:nth-child(odd) {
  background-color: rgba(255, 200, 0, 0.221);
}
.gastos-fixos tr:first-child {
  background-color: rgb(255, 200, 0);
}
.gastos-fixos tr:nth-child(even) td:first-child {
  border-left: none;
}

.tabelas {
  width: 50vw;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-areas: "despesasTable despesasTable receitasTable" "despesasTable despesasTable receitasTable" "despesasTable despesasTable receitasTable" "despesasTable despesasTable fixosTable" "despesasTable despesasTable fixosTable";
  gap: 10px;
}

.lancar-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.215);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lancar-dado {
  width: 400px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.268);
}
.lancar-dado #fechar-form {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  padding: 5px;
  border-style: none;
  background-color: rgb(156, 6, 6);
  color: white;
  border-radius: 0 5px 0 5px;
  cursor: pointer;
  transition: 0.3s;
}
.lancar-dado #fechar-form:hover {
  background-color: rgb(117, 2, 2);
}
.lancar-dado .radios {
  margin-bottom: 3px;
  border-style: none;
  margin-bottom: 10px;
}
.lancar-dado .radios input, .lancar-dado .radios label {
  cursor: pointer;
}
.lancar-dado .radios label {
  margin-left: -3px;
}
.lancar-dado .lancar-txt {
  margin-bottom: 5px;
  height: 30px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 3px;
  padding: 0 10px;
}
.lancar-dado select {
  width: 184px;
}
.lancar-dado #lancar-descricao {
  width: 98%;
}
.lancar-dado #lancar-valor {
  margin-left: 188px;
}

.dados-box {
  position: relative;
}
.dados-box .titulos-txt {
  position: absolute;
  font-size: 14px;
  color: gray;
}
.dados-box #titulos-txt-1 {
  top: 5px;
  left: 10px;
}
.dados-box #titulos-txt-2 {
  top: 42px;
  left: 10px;
}
.dados-box #titulos-txt-3 {
  top: 43px;
  left: 198px;
}
.dados-box #titulos-txt-4 {
  top: 77px;
  left: 198px;
}
.dados-box #lancar {
  width: 372px;
  height: 35px;
  margin: auto;
  background-color: rgb(2, 101, 194);
  color: white;
  font-size: 16px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
}
.dados-box #lancar:hover {
  background-color: rgb(2, 73, 139);
}

.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
