@import "declaracoes";

.calculadora{
    background-color: white;
    .tela{
        @include dFlex();
        justify-content: flex-end;
        height: 150px;
        width: 320px;
        border: 1px solid gray;
        padding: 0 5px;
        box-sizing: border-box;
        #result{
            text-align: end;
            font-size: 25px;
            width: 100%;
            border: none;
        }
        
    }
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-auto-rows: 80px;
    .clear, .calcula{
        grid-column: span 2;
    }
    button{
        cursor: pointer;
    }
}
