.container{
.board{
    @include flexSetting(start, start);
    gap: 10px;
    padding: 10px;
    
    .list{
        font-size: 0.9em;
        min-height: 100px;
        width: 280px;
        color: $thirdColor;
        background-color: rgb(240, 239, 239);
        padding: 10px;
        border-radius: 3px;

    }
    .list-title{
        display: block;
        font-weight: bold;
        height: 30px;
    }
    .list-content{
        cursor: pointer;
        margin-bottom: 5px;
        .list-square{
            @include flexSetting(center, start);
            min-height: 33px;
            width: 260px;
            padding: 5px;

            
            background-color: white;
            border-radius: 5px;
            border-bottom: 1px solid darken($secundaryColor, 30);
        }
    }
    .list-add-item{
        @include flexSetting(center, start);
        margin-top: 10px;
        cursor: pointer;
        .material-symbols-outlined{
            font-variation-settings: 'wght' 300;
        }
    }

    /*======= TEMP =======*/
    .tempBack{
        background-color: $secundaryColor;
        min-height: 33px;
        border-radius: 5px;
    }
    .tempDiv{
        @include flexSetting(center, start);
        text-indent: 5px;
        transform: rotate(3deg);
        background-color: white;
        border-radius: 5px;
        width: 260px;
        color: $thirdColor;
    }

     /*Drag*/
    .dragging, .dragging .list-square{
       transform: rotate(3deg);
       opacity: 1;
    }
   
}
}

