.container{
.board{
    position: relative;
    @include flexSetting(start, start);
    gap: 10px;
    padding: 10px;
    
    //list = Coluna
    .list{
        font-size: 0.9em;
        min-height: 100px;
        width: 280px;
        color: $thirdColor;
        background-color: rgb(224, 227, 233);
        padding: 10px;
        border-radius: 3px;

        .drag-area{
            min-height: 10px;
        }

    }
    .list-title{
        display: block;
        font-weight: bold;
        height: 30px;
    }

    //list-content = card-container
    .list-content{
        cursor: pointer;
        margin-bottom: 8px;

        //list-square - card
        .list-square{
            @include flexSetting(start, start);
            flex-direction: column;
            min-height: 33px;
            width: 260px;
            padding: 10px;
            overflow: hidden;

            background-color: white;
            border-radius: 5px;
            border-bottom: 1px solid darken($secundaryColor, 30);

            .span{
                word-wrap: break-word;
            }

            .tags{
                @include flexSetting(center, start);
                height: 8px;
                width: 100%;
                margin-bottom: 5px;
                
            }
        }


    }
    .tag{
        display: block;
        height: 8px;
        width: 40px;
        background-color: rgb(1, 180, 96);
        border-radius: 10px;
        margin-right: 5px;
    }

    /*======= Add New Card =======*/
    .list-add-item{
        @include flexSetting(center, start);
        flex-direction: column;
        margin-top: 10px;
        .material-symbols-outlined{
            font-variation-settings: 'wght' 300;
        }

        & div:nth-child(1){
            @include flexSetting(center, start);
            
            
        }

        .show-add-card{
            cursor: pointer;
        }
        
        .add-card{

            //previa card é uma div que engloba 
            //a text area e a previa de tags.
            .previa-card{
               @include flexSetting(start, center);
                flex-direction: column;
                margin-bottom: 5px;
                border-radius: 3px;
                background-color: white;
                max-width: 260px;
                overflow: hidden;

                .previa-tags{
                    @include flexSetting(start, center);
                    flex-direction: row;
                    padding: 5px 5px 0px 5px;

                    .tag{
                        margin: 5px 5px 0px 0;
                    }
                }
                
            }
            .add-card-text{
                border: none;
                border-radius: 3px;
                outline: none;
                padding: 5px;
                max-width: 260px;
                min-width: 260px;
                min-height: 50px;
                height: 50px;
                border-bottom: 1px solid darken($secundaryColor, 30);
            }
                

            .box-button-more{
                @include flexSetting(center, space-between);

                .material-symbols-outlined{
                    cursor: pointer;
                    font-variation-settings: 'wght' 400;
                    font-size: 30px;
                    margin-left: 5px;
                }
            
                & div:nth-child(1){
                    @include flexSetting(center, space-between);
                    width: 65%;
                }
            }
            .add-card-button{
                width: 90%;
                height: 33px;
                background-color: $primaryColor;
                color: fncButtonColor($thirdColor);
                border: none;
                border-radius: 3px;
                transition: background-color 200ms;
                cursor: pointer;

                &:hover{
                    background-color: darken($primaryColor, 5);
                }
            }
        }
    }

    /*======= TEMP =======*/
    .tempDiv{
        background-color: rgba(204, 204, 204, 0.555);
        min-height: 33px;
        border-radius: 5px;
        margin-bottom: 8px;
    }
     /*Drag*/
    .dragging, .dragging .list-square{
       transform: rotate(2deg);
    }
}
}

.hiden{
    display: none !important;
}