.container{
.board{
    display: flex;
    gap: 10px;
    padding: 10px;
    
    .list{
        font-size: 0.9em;
        min-height: 100px;
        width: 280px;
        color: $thirdColor;
        background-color: rgb(240, 239, 239);
        padding: 10px;
        border-radius: 3px;
    }
    .list-title{
        display: block;
        font-weight: bold;
        height: 30px;
    }
    .list-content{
        .list-square{
            @include flexSetting(center, start);
            min-height: 33px;
            padding: 5px;

            background-color: white;
            border-radius: 5px;
            border-bottom: 1px solid darken($secundaryColor, 30);
        }
    }
    .list-add-item{
        @include flexSetting(center, start);
        margin-top: 10px;
        cursor: pointer;
        .material-symbols-outlined{
            font-variation-settings: 'wght' 300;
        }
    }
}
}