* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

header {
  font-size: 0.9em;
  justify-content: space-between !important;
  padding: 0 20px;
  background-color: rgb(111, 2, 138);
  color: white;
  padding: 0 10%;
}

#logo {
  width: 60px;
}

.search-box {
  gap: 10px;
  flex: 1 0 300px;
  margin: 0 10px 0 30px;
}
.search-box #search-input {
  height: 40px;
  width: 80%;
  text-indent: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
}
.search-box #search-input:focus-within {
  border: 1px solid #470158;
}
.search-box #search-btn {
  cursor: pointer;
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(18, 156, 108);
}

.icon-menu-mobile {
  position: absolute;
}

.menu {
  display: flex;
  justify-content: end;
  flex: 2 0 400px;
}
.menu ul {
  list-style-type: none;
}
.menu .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 5px;
  color: white;
  margin-left: 15px;
  text-decoration: none;
  border-radius: 5px;
}
.menu .nav-link:hover {
  background-color: #470158;
}
.menu .nav-link:nth-child(4) > label {
  cursor: pointer;
  width: 70px;
  justify-content: space-between;
}

#user {
  position: absolute;
  right: 10%;
  top: 60px;
}

.modal-login {
  border-radius: 5px;
  overflow: hidden;
  color: rgb(68, 68, 68);
  width: 300px;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.253);
}
.modal-login div {
  position: relative;
  width: 300px;
  height: 50px;
  margin: -10px -10px 20px -10px;
  background-color: rgb(50, 7, 61);
  color: white;
}
.modal-login div img {
  position: absolute;
  width: 40px !important;
  left: 10px;
}
.modal-login div span {
  font-size: 1.3em;
}
.modal-login .form-login {
  position: relative;
  flex-direction: column;
  width: 90%;
}
.modal-login .form-login input {
  z-index: 2;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  text-indent: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(50, 7, 61);
  background-color: rgba(255, 255, 255, 0);
}
.modal-login .form-login #user-name:focus-within, .modal-login .form-login #password:focus-within {
  border-width: 2px;
}
.modal-login .form-login #user-name + label {
  z-index: 1;
  cursor: text;
  padding: 0 5px;
  position: absolute;
  top: 11px;
  left: 3px;
  font-size: 0.8em;
  transition: 200ms;
  background-color: white;
}
.modal-login .form-login #user-name:focus-within + label {
  cursor: default;
  z-index: 3;
  top: -5px;
  font-size: 0.7em;
}
.modal-login .form-login #password + label {
  z-index: 1;
  cursor: text;
  padding: 0 5px;
  position: absolute;
  top: 60px;
  left: 3px;
  font-size: 0.8em;
  transition: 200ms;
  background-color: white;
}
.modal-login .form-login #password:focus-within + label {
  cursor: default;
  z-index: 3;
  top: 42px;
  font-size: 0.7em;
}
.modal-login .form-login #login-btn {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border: none;
  margin-bottom: 20px;
  border-radius: 5px;
  color: white;
  background-color: rgb(18, 156, 108);
  transition: 200ms;
}
.modal-login .form-login #login-btn:hover {
  background-color: #0d6e4c;
}
.modal-login .form-login #new-account-btn {
  color: blue;
  border: none;
  background-color: white;
  text-decoration: underline;
}
.modal-login .form-login #forgot-password {
  margin-bottom: 15px;
  font-size: 0.8em;
}

#open-modal-login:checked ~ #user {
  display: none;
}

@media screen and (max-width: 1030px) {
  header {
    padding: 0 10px;
  }
  #user {
    right: 10px;
  }
}
@media screen and (max-width: 820px) {
  header {
    padding-right: 60px;
  }
  .menu {
    position: absolute;
    display: none;
    justify-content: center;
    right: 10px;
    top: 60px;
    width: 300px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.356);
    border-radius: 0 0 5px 5px;
  }
  .menu ul {
    flex-direction: column;
    color: gray !important;
  }
  .menu ul .nav-link {
    color: gray !important;
    display: block !important;
    width: 300px;
    margin-left: -1px;
    text-align: center;
    line-height: 30px;
  }
  .menu ul .nav-link:hover {
    color: white !important;
    background-color: #470158;
  }
  .menu ul .nav-link:nth-child(4) > label {
    cursor: pointer;
    width: 70px;
    justify-content: center;
    width: 300px;
  }
  .icon-menu-mobile {
    cursor: pointer;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    padding: 5px;
    height: 50px;
    width: 50px;
    right: 10px;
    top: 10px;
    margin: -5px -5px 0 0;
    background-color: rgb(50, 7, 61);
    border-radius: 5px;
  }
  .icon-menu-mobile-trass {
    transition: 200ms;
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 3px;
  }
  #open-menu-mobile:checked ~ .menu {
    display: flex;
  }
  #open-menu-mobile:checked ~ .icon-menu-mobile > span:nth-child(1) {
    transform-origin: right;
    transform: rotate(-42deg);
    margin-right: 10px;
  }
  #open-menu-mobile:checked ~ .icon-menu-mobile > span:nth-child(2) {
    transform-origin: right;
    margin-right: -100px;
  }
  #open-menu-mobile:checked ~ .icon-menu-mobile > span:nth-child(3) {
    transform-origin: right;
    transform: rotate(42deg);
    margin-right: 10px;
  }
}
.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */