*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tela{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.tunel{
    height: 50px;   
    position: absolute;
    bottom: -2px;
    /* left: 100px; */
    animation: tunel-animation 3s infinite linear;
}
.mario-r{
    height: 80px;
    position: absolute;
    top: 220px;
    left: 30px;
}
.jump{
    animation: jump 0.8s linear;
}
.descendo{
    animation: descendo 0.4 linear;
}
 
@keyframes tunel-animation{
    from{
        right: -70px;
    }
    to{
        right: 500px;
    }
}
@keyframes jump{
    0%{
        top: 220px;
    }
    40%{
        top: 140px;
    }
    50%{
        top: 140px;
    }
    60%{
        top: 140px;
    }
    100%{
        top: 220px;
    }
}
@keyframes descendo {
    from{
        top: 175px;
    }to{
        top: 220px;
    }
}