*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}


//-------------Variaveis--------------
$primaryColor:rgb(111, 2, 138);
$secundaryColor: rgb(50, 7, 61);
$thirdColor: rgb(18, 156, 108); 





//-------------Google Icons-----------
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
