.cont-canvas{
    position: relative;
}
.point{
    position: absolute;
    content: '';
    width: 10px;
    height:  10px;
    background-color: white;
    border-radius: 50%;
}
.hover-point{
    opacity: 0;
    position: absolute;
    z-index: 10;
    width: 70px;
    height: 30px;
    background-color: rgba(7, 7, 7, 0.89);
    color: white;
    text-align: center;
    line-height:  30px;
    border-radius: 10px;
    border: 1px solid rgb(56, 56, 56);
    animation: show_msg 500ms 300ms forwards;
}
.hide{
    display: none;
}

@keyframes show_msg{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}