*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: white;
}

/*==========Goole icons Settings==========*/
.material-symbols-outlined { 
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
};


/*===============Variables================*/
$primaryColor: rgb(20, 111, 172);
$secundaryColor:  rgba(135, 176, 200, 0.445);
$hoverSecundaryColor:  rgba(135, 176, 200, 0.5);
$thirdColor: rgb(102, 102, 102);
$buttonBGAddColor: rgb(4, 168, 100);
$cardsTextColor: rgb(102, 102, 102);



/*================Mixins===================*/
@mixin flexSetting($flexAlign, $flexJustify) {
    display: flex;
    align-items: $flexAlign;
    justify-content: $flexJustify;
}


/*================Functions===================*/
@function fncButtonColor($color){
    @if lightness($buttonBGAddColor) > 70{
        @return black;
    }@else{
        @return white;
    }
}