@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*HEADER*/
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../imagens/weather.jpg') center right /cover no-repeat  ;
    height: 200px;
    
}
    .cont-search{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
            height: 50px;
            width: 375px;
    }
        .btn-search{
                height: 40px;
                width: 100px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
            .btn-search:active{
                background-color: rgb(170, 170, 170);
            }
        #input-search{
                height: 40px;
                width: 270px;
            border:  1px solid gray;
            background-color: white;
            border-radius: 5px;
            text-indent: 7px;
            font-size: 1.2em;
            border: none;
        }
/*CONTAINER*/
.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
        width: 100vw;
}
    .cont-weather{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background-color: rgb(224, 224, 224);
            height: 400px;
            width: 100vw;
        border-radius: 10px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.103);
    }
    .cont-description{
        display: flex;
        flex-direction: column;
        }
        .cont-description div{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }
            .city{
                font-size: 2em;
            }
        .temp{
            display: block;
            font-size: 2em;
            text-align: center;
            margin: 20px 0 10px 0;
        }
        .flag{
            width: 30px;
            margin-right: 5px;
        }
        .clima{
            display: flex;
            align-items: center;
            margin: 0 !important;
                height: 50px;
        }
            .time{
            text-transform: capitalize;
            font-weight: bold;
            }
            .temp-icon{
                width: 60px;
            }
/*LOADING*/
.bar-loading{
    position: absolute;
    top:40%;
        height: 30px;
        width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .loading-ball{
            height: 15px;
            width: 15px;
        border-radius: 50%;
        border: 3px solid rgb(0, 78, 114);
    }
    .ld1{
        animation: loading 1s ease-in-out infinite ;
        border-color: rgb(3, 103, 161);
    }
    .ld2{
        animation: loading 1s ease-in-out infinite 200ms;
        border-color: rgb(3, 74, 116);
    }
    .ld3{
        animation: loading 1s ease-in-out infinite 400ms;
        border-color: rgb(0, 43, 68);
    }

/*CLOSE IT*/
.close{
    display: none;
}
/*ANIMATION*/
@keyframes loading {
    0%{margin-top: 0px}
    50%{margin-top: 20px}
}